body {
	background-color: #063535;
	color: #e9f8ff;
}

.navbar-default {
    background-color: #102322;
    border-color: #000000;
}

.navbar-default .navbar-nav > li > a {
    color: #d9dbdb;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffc101;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #d9dbdb;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #102322;
    color: #ffc101;
}

.dropdown-menu {
    background-color: #102322;
}

.dropdown-menu > li > a {
    color: #d9dbdb;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffc101; 
    background-color: #102322; 
}

.panel {
	background-color: #22333e;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #3e4e5d;
}

input, button, select, textarea {
    color: black;
}
input[type="file"] {
    color: white;
}